@model FrontEndWeb.Models.Schedule

@{
    ViewData["Title"] = "BOEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>BOEdit</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BOEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />

            <div class="form-group">
                <label asp-for="Room" class="control-label"></label>
                <input asp-for="Room" class="form-control" />
                <span asp-validation-for="Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourInit" class="control-label"></label>
                <input asp-for="HourInit" class="form-control" />
                <span asp-validation-for="HourInit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HourEnd" class="control-label"></label>
                <input asp-for="HourEnd" class="form-control" />
                <span asp-validation-for="HourEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxCapacity" class="control-label"></label>
                <input asp-for="MaxCapacity" class="form-control" />
                <span asp-validation-for="MaxCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeID" class="control-label"></label>
                <input asp-for="EmployeeID" class="form-control" />
                <span asp-validation-for="EmployeeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="BOIndex">Back to List</a>
</div>

